
nav a:hover{
    background-color: tomato;
}

body {
    font-family: 'Oswald', sans-serif;
}
.nav-item{
    font-size:1.2em;
}


.active{
    border:1px solid white;
}

.divImage{
    display:absolute;
    height:100%;
}

.card{
    border-top:2px solid black;
    border-bottom:2px solid black;
    border-left:1px solid grey;
    border-right:1px solid grey;
    transition: transform .2s;
}

.card:hover {
    cursor:pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 

  }

  .card-title{
      font-size: 1.4em;
  }

  .card-subtitle{
      font-size:15px;
  }

  .card-text{
font-size:1.1em;
text-align:justify;
  }

@media only screen and (max-width:980px) {
    img {
         padding:20px; 
    }
}
